.tmntheader {
    width: 100%;
    position: relative;
    object-fit: cover;
}

.tmntcontent {
    background-image: url("../images/background.png");
}

.insidecontent {
    border: 5px solid rgb(148, 147, 147);
    width: 900px;
    height: auto;
    margin: auto;
    border-radius: 25px;
}

/* .tmntheaderinner {
    border-top-left-radius: 20px;
} */

.headback {
    background-image: url("../images/rbg.png");
    border-image-repeat: repeat;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.rightside {
    float: right;
    width: 230px;
    background-color: #A2B964;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rightpic {
    border-top-right-radius: 20px; 
    width: 100%;
}

.rightcontent {
    margin-left: 15px;
}

.left-content {
    width: 650px;
}

.left-inner-content {
    border: 2px solid grey;
    margin: 3px;
    margin-right: 3px;
    border-radius: 20px;
    padding: 10px;
}
.shadowcenter{
    text-align: center;
    text-shadow: 3px 3px  #999999;
   }
.left-inner-wrapper {
    width: 100%;
}

.inner-col {
    float: left;
    width: 47%;
}

.icon {
    padding-right: 5px;
    float: left;
}

.last-footer {
    text-align: center;
    padding-top: 1100px;
    border-bottom-left-radius: 20px;
}

.bc {
    background-color: #A2B964;
    height: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

.afterheader {
    text-align: center;
    text-shadow: 2px 4px goldenrod;
}

.mlinks {
    position: absolute; 
    padding-right: 90px;
    bottom: -730px;
}