/* body{
    background-image: url("../images/background.png");
    font-size: 8pt;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
.imagebanner{ 
   
     background-image: url("../images/bannerbg.png");
     margin-top: -0.5%; 
}
.shadowcenter{
  text-align: center;
  text-shadow: 3px 3px  #999999;
 }
.border { 
  border: 5px solid #999999;
  border-radius: 3%;
   float: right;   
   border-radius: 3%; 
}
 
/* --------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: auto; 
}

.headertext {
	height: auto; 
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 270px 0 270px;
}


 

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
float: left;
width: 150px;
margin-left: auto;  
position: absolute;
right: 0px;
bottom:  2px;
  
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 100px;
	background: #BFF08E;
} 