body{
    margin-left: 80px;
    margin-right: 80px;
    background-color: darkslategrey;
    color: white;
    font-family: Georgia; 
}
h1,h3{
    color: turquoise;
    font-style: italic;
    font-style: normal;
    font-style: oblique;
    text-transform: capitalize;
}
h4{
    color: rgb(23, 230, 75);
    font-style: italic;
}
p::first-letter {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  font-style: italic;
} 
.uppercase{
    text-transform: uppercase;
    font-size: 13px; 
}
  /* unvisited link */
a:link {
    color: red;
    text-decoration: none;
    font-size: 11px;
    font-style: italic;
  }
  
  /* visited link */
  a:visited {
    color: hsl(138, 89%, 52%); 
    font-size: 11px;
    font-style: italic;
  }
  
  /* mouse over link */
  a:hover {
    color:white;
    background-color: blueviolet;
    text-decoration: underline;
    font-size: 11px;
    font-style: italic;
  }
  
  /* selected link */
  a:active {
    color: yellow;
    background-color: black;
    font-size: 11px;
    font-style: italic;
  }