body{
    margin-left: 80px;
    margin-right: 80px;
    background-color: darkslategrey;
    color: white;
     font-family: Cambria;
}
h1,h3{
    color: turquoise;
    font-style: italic;
    font-style: normal;
    font-style: oblique;
}
h4{
    color: yellow;
    font-style: italic;
}
 